
# Entornos de Python
.env/
.venv/
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Conda environment files (if untracked or temporary)
*.conda
*.lock

# VS Code
.vscode/

# Archivos temporales del sistema
.DS_Store
Thumbs.db
videos/